body {
    background-color: #6c7275;
}

#aboutMeImage {
    margin-right: 15px;
}

#bioText {
    padding: 0 10px 10px 20px;
    text-align: left;
}

#aboutMe {
    background-color: blanchedalmond;
    margin-top: 50px;
    margin-bottom: 25px;
    border: 1px solid black;
   
}

.pageContainer {
    position: relative;
    
}

@media screen and (max-width: 768px) {
    main {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
    }
}